* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main-index {
  background-color: aqua; }
  .main-index .img-main {
    vertical-align: middle;
    width: 100%; }
    .main-index .img-main .bloque {
      background-color: burlywood;
      border: 3px solid black;
      margin-left: 10px;
      width: 70%;
      height: 80%;
      display: block; }

.header {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  align-items: columns; }

.navbar .navbar-expand-lg .fondoColor {
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: bisque; }

.container-fluid {
  width: 100%;
  padding: 15%;
  margin: 5%;
  background-color: bisque; }

.d-block {
  display: block !important;
  width: 25%;
  background-color: bisque; }

.h1 {
  font-size: bolder;
  font-family: serif;
  background-color: bisque; }
  .h1 .navbar-toggler {
    background-color: black; }
    .h1 .navbar-toggler .collapse {
      display: flex;
      flex-direction: row-reverse;
      align-content: space-between;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: bisque; }
      .h1 .navbar-toggler .collapse .ul .navbar-nav {
        background-color: bisque;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column; }
        .h1 .navbar-toggler .collapse .ul .navbar-nav .li .a .nav-link {
          text-decoration: none;
          font-size: medium;
          color: black; }

.footer {
  background-color: darkgrey; }
  .footer ul {
    display: flex;
    list-style: none;
    width: 182px;
    justify-content: center; }
    .footer ul li a {
      color: aliceblue;
      padding: 15px;
      text-decoration: none; }

/*MEDIA QUERYS*/
@media (max-width: 850px) {
  .grid-container {
    display: flex; } }

@media (min-width: 992px) {
  .navbar .expand-lg .navbar-nav.dropdown-menu {
    position: sticky; } }

@media (max-width: 680px) {
  .header {
    flex-direction: column; }
  .header img {
    width: 150px; }
  .footer ul {
    width: 182px; }
  .grid-container {
    display: flex; } }

.main-nosotros {
  background-color: aqua; }
  .main-nosotros .img-main {
    vertical-align: middle;
    display: flex;
    width: 100%;
    align-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .main-nosotros .img-main .p .bloque {
      background-color: burlywood;
      border: 3px solid black;
      margin-left: 10px;
      width: 70%;
      height: 80%;
      display: block; }

.header {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: columns;
  padding: 2px; }
  .header__logo {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    padding: inherit;
    align-items: center;
    width: 75px;
    flex-wrap: nowrap; }
    .header__logo .navbar .navbar-expand-lg .fondoColor {
      flex-wrap: wrap;
      justify-content: flex-start;
      background-color: bisque; }
      .header__logo .navbar .navbar-expand-lg .fondoColor .container-fluid {
        width: 150px;
        padding: 15%;
        margin: 5%;
        background-color: bisque; }
        .header__logo .navbar .navbar-expand-lg .fondoColor .container-fluid .d-block {
          display: block !important;
          width: 150px; }
          .header__logo .navbar .navbar-expand-lg .fondoColor .container-fluid .d-block .h1 {
            display: block;
            font-size: bolder;
            font-family: serif;
            background-color: bisque; }
            .header__logo .navbar .navbar-expand-lg .fondoColor .container-fluid .d-block .h1 .navbar-toggler {
              background-color: black; }
              .header__logo .navbar .navbar-expand-lg .fondoColor .container-fluid .d-block .h1 .navbar-toggler .collapse {
                display: flex;
                flex-direction: row-reverse;
                align-content: space-between;
                justify-content: space-between;
                flex-wrap: wrap;
                background-color: bisque; }
                .header__logo .navbar .navbar-expand-lg .fondoColor .container-fluid .d-block .h1 .navbar-toggler .collapse .ul .navbar-nav {
                  background-color: bisque;
                  display: flex;
                  justify-content: flex-start;
                  align-items: flex-start;
                  flex-direction: column; }
                  .header__logo .navbar .navbar-expand-lg .fondoColor .container-fluid .d-block .h1 .navbar-toggler .collapse .ul .navbar-nav .li .a .nav-link {
                    text-decoration: none;
                    font-size: medium;
                    color: black; }

.main-index {
  background-color: aqua; }
  .main-index .img-main {
    vertical-align: middle;
    width: 100%; }
    .main-index .img-main .bloque {
      background-color: burlywood;
      border: 3px solid black;
      margin-left: 10px;
      width: 100%;
      height: 80%;
      display: block; }

.footer {
  background-color: darkgrey; }
  .footer ul {
    display: flex;
    list-style: none;
    width: 182px;
    margin: 0 auto;
    justify-content: center; }
    .footer ul li a {
      color: aliceblue;
      padding: 15px;
      margin: 15px;
      text-decoration: none; }

/*MEDIA QUERYS*/
@media (max-width: 850px) {
  .grid-container {
    display: flex;
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 992px) {
  .navbar .expand-lg .navbar-nav.dropdown-menu {
    position: static; } }

@media (max-width: 680px) {
  .header {
    flex-direction: column; }
  .header img {
    width: 150px; }
  .footer ul {
    width: 182px; }
  .grid-container {
    display: flex;
    grid-template-columns: repeat(3, 1fr); } }
