.main-index {
    background-color: aqua;

    .img-main {
        vertical-align: middle;
        width: 100%;

        .bloque {
            background-color: burlywood;
            border: 3px solid black;
            margin-left: 10px;
            width: 70%;
            height: 80%;
            display: block;


        }

    }
}

